{% extends 'base.html' %}

{% load static %}

{% block title %}About US{% endblock %}

{% block content %}


<section class="u-clearfix u-container-align-center u-section-3" id="sec-4c98">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-29 u-image-1" data-image-width="689" data-image-height="488">
              <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-31 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-1">About Us</h2>
                <p class="u-align-left u-text u-text-2"> We are a company that connects the world of real estate and finance. We provide a complete service for the sale, purchase or rental of real estate. Our advantage is more than 15 years of experience and soil in attractive locations in Slovakia with branches in Bratislava and Košice.<br>We have a connection to all banks on the Slovak market, so we can solve everything under one roof. By constantly innovating our business activities, we move forward and we are able to offer truly above-standard services that set us apart from the competition.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}