<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>{% block title %} Mako Website {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}"
          ><img
            src="{% static 'images/mako.png' %}"
            alt="Mako Logo"
            class="logo"
        /></a>
        <a href="#">Team</a>
        <a href="#">Categories</a>
        <a href="#">Buy property</a>
        <a href="#">Sell property</a>
        <a href="#">Transactions</a>
      </nav>
      <nav>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="profile"
          ><img
            src="{% static 'images/profile-icon.svg' %}"
            alt="Profile Icon"
            class="profile-icon"
        /></a>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-link" style="display:inline; padding:0; border:none; background:none;">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="profile-icon" class="profile">
          <img
            src="{% static 'images/profile-icon.svg' %}"
            alt="Profile Icon"
            class="profile-icon"
          />
          Login
        </a>
        {% endif %}
      </nav>
    </header>

    <div class="main-content">{% block content %} {% endblock %}</div>
    <footer class="footer mt-auto py-3 bg-dark text-white text-center">
      <div class="container">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>