{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<style>
    header {
      display: none;
    }
    footer{
      display: none;
    }
    .main-content{
      padding: 0;
      margin: auto;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    
  </style>
  <section class="container login-form col-11 col-sm-10 col-md-6 col-lg-5 ">
    <h1>Edit User</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_name">Name</label>
            <input type="text" name="user_name" class="form-control" value="{{ user.user_name }}" required>
        </div>
        <div class="form-group">
            <label for="user_email">Email</label>
            <input type="email" name="user_email" class="form-control" value="{{ user.user_email }}" required>
        </div>
        <div class="form-group">
            <label for="user_address">Address</label>
            <input type="text" name="user_address" class="form-control" value="{{ user.user_address }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'user_management_users' %}" class="btn btn-secondary">Cancel</a>  <!-- Added Cancel button -->
    </form>
</section>
{% endblock %}