{% extends 'base.html' %} 
{% block title %}Home Page{% endblock %} 
{% block content %} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />


<div class="main-section">
    <div class="text-container">
        <h1>Modern living</h1>
        <h1>for everyone</h1>
        <p><span  class="textArt">We provide a complete service for the sale, purchase<br> of real estate. Providing easy access to the Real Estate<br> market for all.</span></p>
    </div>
    <div class="search-container">
        <form method="get" action="{% url 'property_list' %}">
            <select name="status">
                <option value="">All</option>
                <option value="unsold">Unsold</option>
                <option value="reserved">Reserved</option>
            </select>
            <input type="text" name="q" placeholder="Search for location" />
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="carousel-container">
    <div class="carousel-overlay">
        <div class="carousel-text">
            <h2>Featured Properties</h2>
            <p >Fulfill your career dreams, enjoy all the achievements of the city center and<br>
                luxury housing to the fullest.</p>
        </div>
        <div class="carousel-btns">
            <div class="text-center mt-3">
                <a href="{% url 'property_list' %}" class="btn btn-secondary">Show all offers</a>
            </div>
            <br>
            <a class="carousel-btn-container" href="#propertyCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            &nbsp;
            <a class="carousel-btn-container"href="#propertyCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div id="propertyCarousel" class="carousel slide" data-ride="carousel" data-interval="4500">
        <div class="carousel-inner">
            {% for property_set in properties %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
                    {% for property in property_set %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-image">
                                {% if property.property_image %}
                                    <img src="{{ property.property_image.url }}" class="carousel-card-img-top" alt="{{ property.property_name }}" />
                                {% else %}
                                    <img src="{% static 'images/default-image.png' %}" class="card-img-top" alt="Default Image" />
                                {% endif %}
                            </div>
                            <div class="carousel-card-body mt-2">
                                <h5 class="card-title">{{ property.property_name }}</h5>
                                <p class="card-text">{{ property.property_description }}</p>
                                <p><strong>Price:</strong> ${{ property.property_price }}</p>
                                <p><small class="text-muted">{{ property.location }}</small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class='about-container'>
    <div class='about-images'>
        <img src="{% static 'images/about.png' %}" alt="About Us" class="about-img1" />
        <img src="{% static 'images/dots.png' %}" alt="About Us" class="about-img2" />
    </div>
    <div class='about-text'>
        <h1>About Us</h1>
        <p> 
            We are a company that connects the world of real estate and finance. We provide a complete service for the sale, purchase or rental of real estate. Our advantage is more than 15 years of experience and soil in attractive locations in Slovakia with branches in Bratislava and Košice.
        </p>
        <p>
            We have a connection to all banks on the Slovak market, so we can solve everything under one roof. By constantly innovating our business activities, we move forward and we are able to offer truly above-standard services that set us apart from the competition. 
        </p>
    </div>
</div>

<div class='team-section'>
    <h1>Our Team</h1>
    <p>Meet the team behind our company.<br>
    We are looking a team of developers <br>
    to help us build our website. haha<br>
    </p>


    <div class='team-container'>
        <div class='team-card'>
            <div class='crop-container'>
                <img src="{% static 'images/cg.png' %}" alt="Cg M. Fernandez"/>
            </div>
            <h5>Cg M. Fernandez</h5>  
            <p>CEO</p>
        </div>

        <div class='team-card'>
            <div class='crop-container'>
                <img src="{% static 'images/alon.jpg' %}" alt="Mike Francis B. Alon"/>
            </div>
            <h5>Mike Francis B. Alon</h5>  
            <p>Financer</p>
        </div>

        <div class='team-card'>
            <div class='crop-container'>
                <img src="{% static 'images/rendolf.png' %}" alt="Rendolf Baluntang"/>
            </div>
            <h5>Rendolf Baluntang</h5>  
            <p>UI/UX</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


{% endblock %}
