<!-- property_confirm_delete.html -->

{% extends 'base.html' %}

{% load static %}
{% block title %}Confirm Delete{% endblock %}

{% block content %}

<style>
  header {
    display: none;
  }
  footer {
    display: none;
  }
  .main-content {
    padding: 0;
    margin: 0;
    background-image: url('{% if property.property_image %}{{ property.property_image.url }}{% else %}{% static "images/default-image.png" %}{% endif %}');
    background-repeat: no-repeat; 
    background-size: cover; /* Use cover to ensure the image covers the area */
  }
</style>
<div class="container">
    <div class="card container col-md-8 bg-light">
        <div class="row card-body justify-content-center text-center">
        <h1>Are you sure you want to delete "<strong class="text-danger">{{ property.property_name }}</strong>"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'seller_property_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
        </div>
    </div>
</div>
{% endblock %}