{% extends 'base.html' %}

{% block title %}Edit Property{% endblock %}

{% block content %}

<div class="card container mt-5 mb-5 bg-light">
    <div class="card-body property-form-container">
        <h1 class="text-center mb-4">Edit Property</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data" class="update-property-form mt-4">
                    {% csrf_token %}
                    
                    {% if form.instance.pk and form.instance.property_image %}
                    <div class="mb-4 text-center">
                        <img src="{{ form.instance.property_image.url }}" class="img-fluid rounded" alt="{{ form.instance.property_name }}">
                    </div>
                    {% endif %}
                    
                    <div class="form-group">
                        {{ form.as_p }}  <!-- Render the entire form as paragraphs -->
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Save</button>
                        <a href="{% url 'seller_property_list' %}" class="btn btn-secondary btn-lg ml-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}