<!-- register.html -->
{% extends 'base.html' %} {% load static %} {% load custom_filters %} {% block
title %}Register{% endblock %} {% block content %}
<form method="post" enctype="multipart/form-data" action="{% url 'register' %}">
  {% csrf_token %}

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      {{ form.user_name|add_class:"form-control max-width-input" }}
    </div>
    {{ form.user_name.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-phone"></i></span>
      </div>
      {{ form.user_contact|add_class:"form-control max-width-input" }}
    </div>
    {{ form.user_contact.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      </div>
      {{ form.user_email|add_class:"form-control max-width-input" }}
    </div>
    {{ form.user_email.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-home"></i></span>
      </div>
      {{ form.user_address|add_class:"form-control max-width-input" }}
    </div>
    {{ form.user_address.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-image"></i></span>
      </div>
      {{ form.user_image|add_class:"form-control max-width-input" }}
    </div>
    {{ form.user_image.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
      </div>
      {{ form.role|add_class:"form-control max-width-input" }}
    </div>
    {{ form.role.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      {{ form.username|add_class:"form-control max-width-input" }}
    </div>
    {{ form.username.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      {{ form.password1|add_class:"form-control max-width-input" }}
    </div>
    {{ form.password1.errors }}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      {{ form.password2|add_class:"form-control max-width-input" }}
    </div>
    {{ form.password2.errors }}
  </div>

  <input type="submit" value="Register" class="btn-register btn btn-primary" />
</form>
{% endblock %}
