{% extends 'base.html' %} 
{% load static %}

{% block title %}Our Team{% endblock %} 

{% block content %} 
<section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-4 pb-4" id="sec-0766">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-default-lg u-text-default-xl u-text-1">Our Team</h2>
      <p class="u-align-left u-text u-text-2"> Meet the team behind our company.
        <br>We are looking for a team of developers to help us build our website. Join us!</p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <div alt="" class="u-border-4 u-border-palette-2-light-1 u-expanded-width u-image u-image-circle u-preserve-proportions u-image-1" src="">
                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
              </div>
              <h5 class="u-align-center u-text u-text-3">CG M. Fernandez</h5>
              <h6 class="u-align-center u-text u-text-4">President, CEO</h6>
              <div class="social-icons p-4">
                <a href="https://www.linkedin.com/in/cg-m-fernandez" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/cg_fernandez" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/cg.fernandez" target="_blank"><i class="fab fa-facebook"></i></a> <!-- Facebook link -->
            </div>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <div alt="" class="u-border-4 u-border-palette-2-light-1 u-expanded-width u-image u-image-circle u-preserve-proportions u-image-2" src="">
                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
              </div>
              <h5 class="u-align-center u-text u-text-5">Mike Francis B. Alon</h5>
              <h6 class="u-align-center u-text u-text-6">Financial Director</h6>
              <div class="social-icons p-4">
                <a href="https://www.linkedin.com/in/mike-francis-alon" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/mike_alon" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/mike.alon" target="_blank"><i class="fab fa-facebook"></i></a> <!-- Facebook link -->
            </div>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <div alt="" class="u-border-4 u-border-palette-2-light-1 u-expanded-width u-image u-image-circle u-preserve-proportions u-image-3" src="">
                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
              </div>
              <h5 class="u-align-center u-text u-text-7">Rendolf E. Baluntang</h5>
              <h6 class="u-align-center u-text u-text-8">UI/UX Developer</h6>
              <div class="social-icons p-4">
                <a href="https://www.linkedin.com/in/rendolf-baluntang" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/rendolf_b" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/rendolf.baluntang" target="_blank"><i class="fab fa-facebook"></i></a> <!-- Facebook link -->
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='join-team-section m-8'>
        <h2>Join Our Team!</h2>
        <p>Are you passionate about technology and development? We are always looking for talented individuals to join our team. If you think you have what it takes, we would love to hear from you!</p>
    </div>
  </section>



{% endblock %}