{% extends 'base.html' %}
 
{% load static %}
 
{% block title %}Real Estate Dashboard{% endblock %}
 
{% block content %}
<style>
    .property-image {
        width: 100%; /* Make the image responsive */
        height: 380px; /* Set a fixed height */
        object-fit: cover; /* Ensure the image covers the area without distortion */
    }
</style>
<div class='dashboard'>
<div class='dashboard-container'>
<div class="container">
    <h1 class="text-center">Real Estate Dashboard</h1>
 
    <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card5 management-card">
                        <div class="card-body ">
                            <h5 class="card-title">
                                Total Seller Accounts:
                            </h5>
                            <h2 class="card-text">
                                <i class="fas fa-user icon-seller" style="margin-right: 8px; "> </i>
                                {{ total_seller_accounts }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card5 management-card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Total Buyer Accounts:
                            </h5>
                            <h2 class="card-text">
                                <i class="fas fa-user icon-buyer" style="margin-right: 8px;"> </i>
                                {{ total_buyer_accounts }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
 
    <div class="row">
        <div class="col-md-4 mb-4">  <!-- Most Recently Added Property Card -->
            <div class="card5" style="width: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: transform 0.2s; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-home" style="margin-right: 8px;"></i>
                        Newest Property Added
                    </h5>
                    {% if recent_property %}
                        {% if recent_property.property_image %}
                            <img src="{{ recent_property.property_image.url }}" class="img-fluid mb-3 property-image" alt="{{ recent_property.property_name }}">
                        {% else %}
                            <img src="{% static 'images/default-image.png' %}" class="img-fluid mb-3 property-image" alt="Default Image">
                        {% endif %}
                        <h5 class="card-title">{{ recent_property.property_name }}</h5>
                        <p class="card-text">{{ recent_property.property_description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ recent_property.property_price }}</p>
                        <p class="card-text d-flex justify-content-between align-items-center">
                            <span><strong>Seller:</strong> {{ recent_property.seller.user_name }}</span>
                        </p>
                            <a href="{% url 'property_detail' recent_property.id %}" class="text-info mr-5" style="text-decoration: underline;">View Details</a>
                            <a href="{% url 'property_list' %}" class="text-info ms-3" style="text-decoration: underline;">View All Properties</a>
                        </p>
                    {% else %}
                        <p>No recent properties available.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">  <!-- Total Properties Count Container -->
            <div class="card5 management-card mb-3">
                <div class="card-body management-card">
                    <h5 class="card-title">
                        <span class="icon-container">
                            <i class="fas fa-home"style="margin-right: 13px;"></i>
                        </span>
                        Total Properties:
                    </h5>
                    <h2 class="card-text">{{ total_properties }}</h2>  <!-- Display total properties count -->
                </div>
            </div>

            <div class="card5 management-card mb-3">
                <div class="card-body management-card">
                    <h5 class="card-title">
                        <i class="fas fa-key"></i>
                        Available Properties:
                    </h5>
                    <h2 class="card-text">{{ available_properties_count }}</h2>  <!-- Display available properties count -->
                </div>
            </div>

            <div class="card5 management-card mb-3">
                <div class="card-body management-card">
                    <h5 class="card-title">
                        <i class="fas fa-check-circle" ></i>
                        Reserved Properties:
                    </h5>
                    <h2 class="card-text">{{ total_reserved_properties }}</h2>  <!-- Display total reserved properties count -->
                </div>
            </div>

            <div class="card5 management-card mb-3">
                <div class="card-body management-card">
                    <h5 class="card-title">
                        <i class="fas fa-file-alt"></i> <!-- Document Icon -->
                        Total Documents:
                    </h5>
                    <h2 class="card-text">{{ total_documents }}</h2>  <!-- Display total documents count -->
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">  <!-- Most Recently reserved Property Card -->
            <div class="card5" style="width: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: transform 0.2s; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-home" style="margin-right: 8px;"></i>
                        Latest Property Reserved
                    </h5>
                    {% if recent_reserved_property %}
                        {% if recent_reserved_property.property_image %}
                            <img src="{{ recent_reserved_property.property_image.url }}" class="img-fluid mb-3 property-image" alt="{{ recent_reserved_property.property_name }}">
                        {% else %}
                            <img src="{% static 'images/default-image.png' %}" class="img-fluid mb-3 property-image" alt="Default Image">
                        {% endif %}
                        <h5 class="card-title">{{ recent_reserved_property.property_name }}</h5>
                        <p class="card-text">{{ recent_reserved_property.property_description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ recent_reserved_property.property_price }}</p>
                        <p class="card-text d-flex justify-content-between align-items-center">
                            <span><strong>Seller:</strong> {{ recent_reserved_property.seller.user_name }}</span>
                        </p>
                        </p>
                            <a href="{% url 'property_detail' recent_property.id %}" class="text-info mr-5" style="text-decoration: underline;">View Details</a>
                            <a href="{% url 'property_list' %}" class="text-info ms-3" style="text-decoration: underline;">View All Properties</a>
                        </p>
                    {% else %}
                        <p>No recent reserved properties available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
 

</div>
</div>
</div>
{% endblock %}